@inherits LayoutComponentBase
<div class="main">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <NavLink class="navbar-brand" href="/">Learning Blazor</NavLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-links-container collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Counter">Counter</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Calculator">Calculator</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/8Ball">8 Ball</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/RWTxt">RW txt</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        @Body
    </div>

    <br/>
    <footer>
        Footer
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>